<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Thomas Kober</string>
	<key>Builder Version</key>
	<string>8537.76.4</string>
	<key>CFBundleDisplayName</key>
	<string>TimeToRead</string>
	<key>CFBundleIdentifier</key>
	<string>com.tttthomasssss.timetoread</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>65</real>
				<key>Identifier</key>
				<string>popoverTimeToRead</string>
				<key>Width</key>
				<real>180</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>toolbarTimeToRead</string>
				<key>Image</key>
				<string>Icon-16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Time to read</string>
				<key>Palette Label</key>
				<string>Time to read</string>
				<key>Popover</key>
				<string>popoverTimeToRead</string>
				<key>Tool Tip</key>
				<string>Estimates the time to read the current article</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>endScript.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Estimates the time it takes to read the current article</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/tttthomasssss/TimeToRead/blob/master/safari/TimeToRead.safariextension/update.plist</string>
	<key>Website</key>
	<string>https://github.com/tttthomasssss/TimeToRead</string>
</dict>
</plist>
